<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DBCode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DBCode.Properties.Settings>
            <setting name="FormSize" serializeAs="String">
                <value>700, 300</value>
            </setting>
            <setting name="FormLocation" serializeAs="String">
                <value>610, 390</value>
            </setting>
            <setting name="FormOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ThemePrimaryTabPageIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ThemeHighlightTabPageIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ThemeLocation" serializeAs="String">
                <value>160, 250</value>
            </setting>
            <setting name="ThemeSize" serializeAs="String">
                <value>1600, 575</value>
            </setting>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreviousLanguage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentThemeName" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="ThemePickerLocation" serializeAs="String">
                <value>460, 240</value>
            </setting>
            <setting name="ThemePickerSize" serializeAs="String">
                <value>1000, 600</value>
            </setting>
            <setting name="CurrentLanguage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ThemeTargetingTabPageIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopDraggerHeight" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TopDraggerEdge" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ActivationDelayMs" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="ClipboardDelayMs" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="ReactivationDelayMs" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="Whitespace" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SpacesPerTab" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SpacesToBecomeTab" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UseTabs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSpaces" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OptionsGeneralTabControlPageIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OptionsIncludeExcludeTabControlPageIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SearchHistoryMaxEntries" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ReplaceHistoryMaxEntries" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="UsePCRE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindMatchCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindWholeWord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindRegularExpressions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindScopeSelection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SRMatchCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SRWholeWord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SRRegularExpressions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SRScopeSelection" serializeAs="String">
                <value>False</value>
            </setting>
        </DBCode.Properties.Settings>
    </userSettings>
</configuration>